.content0{
    display: flex;
    text-align: left;
    .left{
        flex: 0 0 50%;
        padding-right: 26px;
    }
    .right{
        padding-left: 10px;
    }
    li{
        font-weight: 900; 
    }
    ul{
        margin-bottom: 0;
    }
    .company-name{
        font-style: italic;
        font-size: 80%;
    }
    p.sm-bt{
        margin: 0 0 1em 0;
    }
    h3{
        font-size: 2em;
    }
}