.login-wrapper {
    color: #636363;
    background-color: aliceblue;
    margin: 10% auto;
    min-width: 320px;
    width: 40%;
    border-radius: 20px;
    padding: 30px !important;
    label:not(.checkbox-label) {
        color: #636363;
        margin: 0;
        font-size: 12px;
        line-height: 1;
    }
    .panel-heading {
        margin-bottom: 20px;
    }
}

.admin-wrapper {
    color: #636363;
    background-color: white;
    padding: 40px 20px !important;
    margin-top: 0 !important;
    border-radius: 20px;
}

.exp-list {
    .sm-bt {
        margin-bottom: 10px;
    }
    .exp-list__row {
        padding-bottom: 20px;
        border-bottom: 1px solid #efefef;
        margin-bottom: 30px;
        .buttons {
            width: 100%;
            position: relative;
            display: grid;
            grid-template-columns: min-content min-content;
            justify-content: end;
            grid-gap: 20px;
        }
        .date {
            font-weight: 500;
        }
        .dates {
            width: 100%;
            position: relative;
            display: grid;
            grid-template-columns: max-content max-content max-content;
            justify-content: start;
            grid-gap: 10px;
        }
        .company-name {
            font-style: italic;
            line-height: 2;
        }
    }
}

.has-error {
    input {
        border-color: red;
    }
    p {
        color: red;
        font-size: 12px;
        line-height: 1.1;
        margin-bottom: 0;
    }
}
.alert {
    ul {
        margin-bottom: 0 !important;
    }
}

.icons {
    a:hover {
        text-decoration: none !important;
    }
}
